<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>filenames</key>
	<dict>
		<key>buttons/game_pause1.psd</key>
		<string>buttons/game_pause1.png</string>
		<key>newLevels/level50/fallisland(50lvl).png</key>
		<string>newLevels/level50/fallisland(50lvl).pvr</string>
		<key>newLevels/level50/fallisland(50lvl)_NRM.png</key>
		<string>newLevels/level50/fallisland(50lvl)_NRM.pvr</string>
		<key>newLevels/level50/islands(50lvl).png</key>
		<string>newLevels/level50/islands(50lvl).pvr</string>
		<key>newLevels/level50/islands(50lvl)_NRM.png</key>
		<string>newLevels/level50/islands(50lvl)_NRM.pvr</string>
	</dict>
	<key>metadata</key>
	<dict>
		<key>version</key>
		<integer>1</integer>
	</dict>
</dict>
</plist>
