<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>newLevels/level55/test/back2.png</key>
		<dict>
			<key>frame</key>
			<string>{{1027, 1}, {1024, 768}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {1024, 768}}</string>
			<key>sourceSize</key>
			<string>{1024, 768}</string>
		</dict>
		<key>newLevels/level55/test/background(55lvl).png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 771}, {1024, 768}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {1024, 768}}</string>
			<key>sourceSize</key>
			<string>{1024, 768}</string>
		</dict>
		<key>newLevels/level55/test/bigmove(55lvl).png</key>
		<dict>
			<key>frame</key>
			<string>{{1797, 1}, {81, 194}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {81, 194}}</string>
			<key>sourceSize</key>
			<string>{81, 194}</string>
		</dict>
		<key>newLevels/level55/test/fall1.png</key>
		<dict>
			<key>frame</key>
			<string>{{1993, 1}, {179, 51}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {179, 51}}</string>
			<key>sourceSize</key>
			<string>{179, 51}</string>
		</dict>
		<key>newLevels/level55/test/fall2.png</key>
		<dict>
			<key>frame</key>
			<string>{{1797, 137}, {101, 51}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {101, 51}}</string>
			<key>sourceSize</key>
			<string>{101, 51}</string>
		</dict>
		<key>newLevels/level55/test/fall3.png</key>
		<dict>
			<key>frame</key>
			<string>{{1797, 84}, {101, 51}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {101, 51}}</string>
			<key>sourceSize</key>
			<string>{101, 51}</string>
		</dict>
		<key>newLevels/level55/test/fall4.png</key>
		<dict>
			<key>frame</key>
			<string>{{1900, 84}, {101, 51}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {101, 51}}</string>
			<key>sourceSize</key>
			<string>{101, 51}</string>
		</dict>
		<key>newLevels/level55/test/islandswithspikes(55lvl).png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 1}, {1024, 768}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {1024, 768}}</string>
			<key>sourceSize</key>
			<string>{1024, 768}</string>
		</dict>
		<key>newLevels/level55/test/move3.png</key>
		<dict>
			<key>frame</key>
			<string>{{1953, 182}, {101, 51}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {101, 51}}</string>
			<key>sourceSize</key>
			<string>{101, 51}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>size</key>
		<string>{2048, 2048}</string>
		<key>textureFileName</key>
		<string>test.png</string>
	</dict>
</dict>
</plist>
